        body{
            margin: 0%;
            background-color: #2d2d2d;
            color: rgb(203, 203, 203);
        }

        header{
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-direction: row;
            background-color: #1f1f1f;
            color: rgb(203, 203, 203);
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 100;
            margin: 0%;
            padding: 1rem;
        }
