       body{
            background-color: #2d2d2d;
            color: rgb(203, 203, 203);
            margin:0;
            padding:0;
            scroll-padding-top: 1rem;
        }

        header{
            background-color: hsl(0, 0%, 9%);
            margin-top: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            position: sticky;
            top:0;
            left:0;
            right:0;   
            height:5rem;
            z-index: 100;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

        h1{
            font-family: 'Barlow', sans-serif;
            font-size:3rem;
            font-weight: 200;
        }

        h2{
            font-family: "Barlow", sans-serif;
            font-size:2.25rem;
            font-weight: 200;
        }

        h3{
            font-family: "Barlow", sans-serif;
            font-size:1.75rem;
            font-weight: 200;
        }

        #page_links a
        {
            padding-left:.5rem;
            padding-right: .5rem;
        }

        main{
            margin-top:0;
            margin-left: 10rem;
            margin-right: 10rem;
        }

        #about_me .content
        {
            display:grid;
            width:100%;
            grid-template-rows: auto;
            grid-template-columns: 3fr 1fr;
            gap:5rem;
            padding: 0%;
            margin:0%;
            font-size: 1.25rem;
        }

        #about_me #portrait_links
        {
            display:flex;
            flex-direction: column;
        }

        #about_me_links
        {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 1rem;
            font-size: 1.5rem;
            align-items: center;
        }

        .project_description
        {
            width:30rem
        }

        img{
            max-width: 100%;
            height: auto;
        }

        :link{
            color:white;
        }

        :visited{
            color:lightslategray;
        }

       




