       body {
           background-color: #2d2d2d;
           color: rgb(203, 203, 203);
           margin: 0;
           padding: 0;
           scroll-padding-top: 1rem;
       }

       header {
           background-color: hsl(0, 0%, 9%);
           margin-top: 0;
           padding-left: 2rem;
           padding-right: 2rem;
           position: sticky;
           top: 0;
           left: 0;
           right: 0;
           height: 5rem;
           z-index: 100;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
       }

       section {
           scroll-margin-top: 80px;
           /* Offset the target by the header height */
       }

       h1 {
           font-family: 'Barlow', sans-serif;
           font-size: 3rem;
           font-weight: 200;
       }

       h2 {
           font-family: "Barlow", sans-serif;
           font-size: 2.25rem;
           font-weight: 200;
           margin-top: 4rem;
           margin-bottom: 1rem;

       }

       h3 {
           font-family: "Barlow", sans-serif;
           font-size: 1.75rem;
           font-weight: 200;
       }

       p {
           font-family: Arial, Helvetica, sans-serif;
           font-size: 1.5rem;
           font-weight: 100;
           margin: 0;
           margin-right: 4rem;
           margin-bottom: 1rem;
       }

       hr {
           margin: 0;
           padding: 0;
       }

       #page_links a {
           padding-left: .5rem;
           padding-right: .5rem;
       }

       .side-by-side {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
       }

       .content {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
       }

       #intro {
           margin-top: 1rem;
       }

       #intro img {
           margin-left: 10rem;
           max-width: 20rem;
           border-radius: 3.4rem;
       }

       img {
           display: block;
           max-width: 100%;
           height: auto;
       }

       #structure img {
           max-height: 50rem;
           max-width: auto;
           height: fit-content;
           margin-top: 1rem;
       }

       /* WIREFRAMES SECTION */

       #wireframes {
           display: flex;
           flex-direction: column;
           margin: 0;
       }

       #wireframes img {
           /* max-width: 10rem; */
           margin: 0;
           padding: 0;
       }

       #wireframes .side-by-side {
           justify-content: space-between;
           margin-top: 4rem;
       }

       #wireframes .side-by-side img {
           max-width: 15rem;
       }

       /* FINAL DESIGN SECTION */

       #final-designs {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           margin-top: 0;
       }

       #final-designs .side-by-side  div:not(#create-screens) {
           margin-top: 4rem;
           padding:10rem;
       }

       #final-designs img {
           margin: .5rem 0 0 0;
           max-height: 40rem;
           max-width: fit-content;
       }

       footer {
           margin: 3rem;
       }

       :link {
           color: white;
       }

       :visited {
           color: lightslategray;
       }

       @media only screen and (min-width: 600px) {
           main {
               margin: 0;
           }
       }

       @media only screen and (min-width: 1200px) {
           main {
               margin-top: 0;
               margin-left: 15rem;
               margin-right: 15rem;
           }
       }